services:
  consul:
    image: hashicorp/consul:1.15
    container_name: sshplex-consul
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    environment:
      CONSUL_BIND_INTERFACE: eth0
    command: agent -server -bootstrap-expect=1 -ui -client=0.0.0.0 -datacenter=dc1
